# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
/.vscode/settings.json
/*.code-workspace

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

pnpm-lock.yaml

.DS_Store
.__MacOSX
._*