@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* * Colors Used in Tailwind Config */
  --icook-nav: rgb(245, 245, 245);
  --icook-primary: #2196f3;
  --icook-secondary: #ff9800;
  --icook-accent: #ff5722;
  --icook-neutral: #27272a;
  --icook-text: #333;
  --icook-bg: #f5f5f5;

  --navbar-height: 4rem;
  --sidebar-width: 16rem;
  /* --sidebar-width: 4rem; */
  --sidebar-height: calc(100dvh - var(--navbar-height));
  --footer-height: 9rem;

  --min-page-height: calc(100dvh - var(--navbar-height) - var(--footer-height));
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    @apply min-h-screen bg-icook-bg font-normal text-icook-text antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.75rem;
    background: #888;
  }
  img {
    content-visibility: auto;
  }
  a {
    @apply hover:cursor-pointer;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer components {
  .page {
    @apply container relative z-0 min-h-[var(--min-page-height)] max-w-5xl scroll-smooth p-4 pt-[calc(var(--navbar-height))] antialiased;
  }
  .page > div {
    @apply py-8;
  }
}

@layer utilities {
  .safe-top {
    padding-top: calc(env(safe-area-inset-top));
  }
  .safe-bottom {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  }
}

